<html>
    <head>
        <style>

        </style>
    </head>
    <body>
        <p>Hi {{name}},</p>
		<p>Your User ID is {{user_id}},</p>
        <p>Welcome to your new account</p>
        <p> Please, click the link below to set your PIN</p>
	<a href="http://{{link}}">Set PIN</a>
	<p> Note: To set your pin you have to be connected to PNU WiFi network</p>
    </body>
</html>
